.icon-gray {
  color: #75758E;
}

#actions {
  position: fixed !important;
  position: absolute;
  width: 100%;
  height: 85px;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #F8F8F8;
  //background-color: #5bc;
  //background-color: #AFAFAF;
  //background-color: #FFD54F;
  //background-color: #FDD54F;
  //background-color: #FFE082;
  //background-color: #64B5F6;
  //background-color: #A0CAF9;
  //background-color: #B0BEC5;
  //background-color: #FF4081;
  z-index:2;
  //box-shadow: 1px 1px 4px gray;
}
.font_logocolor {
  color: #E0E0E0;
}
.font_yellow {
  color: #ffeb3b;
}
.font_white {
  color: #EEEEEE;
}
.font_black {
// color: #212121;
//  color: #455A64;
//  color: #616161;
//  color: #424242;
  color: #5e5656;
}
.font_20px {
  font-size: 20px;
}
.logo {
  font-size: 37px;
;;  display: flex;
;;  font-family: 'Satisfy', cursive;
;;  font-family: 'Indie Flower', cursive;
;;  font-family: 'Dancing Script', cursive;
;;  font-family: 'Space Mono', cursive;
;;  font-family: 'Just Another Hand', cursive;
;;  font-family: 'Gochi Hand', cursive;
;;  font-family: 'Croissant One', cursive;
  font-family: 'Marmelad', cursive;
;;  vertical-align: middle;
;;  justify-content: center;
;;  align-items: center;
}

.middle_left {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) translateX(0%);
  -webkit-transform: translateY(-50%) translateX(0%);
}

.bottom_left {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translateY(-100%) translateX(0%);
  -webkit-transform: translateY(-100%) translateX(0%);
}
.middle_center {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.middle_right {
  display: flex;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-100%);
  -webkit-transform: translateY(-50%) translateX(-100%);
}
.middle_left2 {
  display: flex;
  position: absolute;
  top: 45%;
  left: 0%;
  transform: translateY(-0%) translateX(0%);
  -webkit-transform: translateY(-0%) translateX(0%);
}
.middle_right2 {
  display: flex;
  position: absolute;
  top: 45%;
  left: 98%;
  transform: translateY(-0%) translateX(-100%);
  -webkit-transform: translateY(-0%) translateX(-100%);
}


#status {
  position: fixed !important;
  position: absolute;
  width: 100%;
  height: 60px;
  text-align: right;
  top: 0;
  left: 0;
  z-index:2;
}
.status_button {
  width: 47px;
  height: 47px;
}
.action_button {
  font-size: 47px;
}

.page_button {
  width: 47px;
  height: 47px;
}

#pdf {
  height: 70%;
}

img.cursor {
  position: absolute;
  pointer-events: none;
  width: 35px;
  height: 35px;
}

.rotate10 {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.rotate90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#mycanvasdiv {
  //display: box;
  //width: 99%;
  //height: 80%;
  //text-align: left;
  //overflow-x: scroll;
  //overflow-y: scroll;
  position: absolute;
  box-shadow: 1px 1px 1px gray;
}

div#page_number {
  position: absolute;
  bottom: 30px;
  font-size: 30px;
  color: #9E9E9E;
  font-family: arial, sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 3;
}

.canvas {
  //border: 10px solid #BDBDBD;
  //box-shadow: 1px 1px 4px gray;
  //left: 10px;
  //top: 10px;
  //position: relative;
  display: flex;
}

.button_shadow {
  box-shadow: 1px 1px 1px gray;
}

body {
  // padding: 112px 0 0 0;
  padding: 10 0 0 0;
  margin: 0;
  font-family: Arial;
  color: #444;
  font-size: 15px;
  line-height: 18px;
  //text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  //background-color: #E0E0E0;
  background-color: #F8F8F8;
}
* html body{
    overflow: hidden;
}
.connection {
  float: left;
  height: 250px;
  width: 200px;
  overflow: scroll;
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}
.connection div {
  margin: 5px 0;
}
.connection.active {
  border-color: #FF7500;
}
h1 {
  font-size: 15px;
  padding: 5px 10px;
  margin: 0 -10px 0 -10px;
  border-bottom: 1px solid #ccc;
  font-weight: 300;
}
.active h1 strong {
  color: #FF7500;
}
.file, em {
  color: #999;
  font-style: italic;
}
//#wrap {
//  background-color: #ddd;
//  border-width: 1px 0;
//  border-color: #ccc;
//  border-style: solid;
//}
.clear {
  clear: both;
}
.peer {
  color: #FF7500;
  font-weight: 600;
}
.you {
  color: #0C6BA1;
  font-weight: 600;
}
#pid {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #0C6BA1;
  font-weight: 600;
}
.warning {
  font-size: 12px;
  line-height: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  font-weight: 300;
  border-width: 1px 0;
  border-color: #000;
  border-style: solid;
}
a {
  color: #F2C777;
}
.filler {
  display: block;
  padding: 10px;
}

button, input {
  font-size: 15px;
  font-family: Arial;
  //border: 3px solid #ccc;
  border-right: 0;
  //padding: 5px;
  background: #fff;
  margin: 10px;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
input:focus {
  outline: none;
}
.button, button {
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ccc;


}
form {
  display: inline-block;
}
#close {
  background-color: #FF7500;
  border-color: #c15c06;
}

.important {
  font-size: 15px;
  color: #F2C777;
  margin-bottom: 10px;
}

.selected {
  -webkit-filter: contrast(150%);
  -moz-filter: contrast(150%);
  -o-filter: contrast(150%);
  -ms-filter: contrast(150%);
  filter: contrast(150%);
}

.unselected {
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
  -o-filter: brightness(2);
  -ms-filter: brightness(2);
  filter: brightness(2);
}

.focus {
  display: ;
}

.unfocus {
  display: none;
}
