<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-toolbar flat height=60>
          <v-toolbar-side-icon></v-toolbar-side-icon>
          <v-toolbar-title>Title</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>search</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>apps</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>file_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </v-toolbar>
        <v-content class="grey lighten-3">
          <v-container fluid align-content-center>
            <v-layout align-center justify-center>
              <canvas class="text-xs-center" width="960" height="1280" style="background-color: white; transform: scale(1)"></canvas>
            </v-layout>
          </v-container>
        </v-content>
      </v-app>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script>
      var app = new Vue({ 
        el: '#app',
        data: {
          page: {
            cur: 7,
            max: 100
          }
        }
      });
      app.$vuetify.theme = {
          primary: '#000000',
          secondary: '#b0bec5',
          accent: '#8c9eff',
          error: '#b71c1c'
      };

    </script>
  </body>
</html>
